{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<main>
  <h1>{{name}}</h1>
  <section>
    <ul>
      {{#each users}}
        <li><h2>{{name}}</h2>
          {{age}}
          years,
          {{gender}}
          (<em>ID: {{id}}</em>)<br /><br />
          <b>Friends: </b>
          <ul>
            {{#each friends}}
              <li>
                <h4>{{name}}</h4>
                {{age}}
                years,
                {{gender}}
                (<em>ID: {{id}}</em>)<br /><br />
                <b>Mutual friends: </b>
                <ul>
                  {{#each mutual_friends}}
                    <li>
                      <b>{{name}}</b>
                      {{age}}
                      years,
                      {{gender}}
                      (<em>ID: {{id}}</em>)<br /><br />

                      {{#if mutual_friends}}
                        Mutual friends:
                        <ul>
                          {{#each mutual_friends}}
                            <li>
                              <b>{{name}}</b>
                              {{age}}
                              years,
                              {{gender}}
                              (<em>ID: {{id}}</em>)<br /><br
                              />
                            </li>
                          {{/each}}
                        </ul>
                      {{/if}}

                    </li>
                  {{/each}}
                </ul>
                {{#if groups}}
                  Groups:
                  <ul>
                    {{#each groups}}
                      <li>{{name}}
                        (<em>ID: {{id}}</em>)
                        <br />
                        {{description}}
                        <ul>
                          {{#each members}}
                            <li>
                              <b>{{name}}</b>
                              {{age}}
                              years,
                              {{gender}}
                              (<em>ID: {{id}}</em>)<br /><br
                              /></li>
                          {{/each}}
                        </ul>
                      </li>
                    {{/each}}
                  </ul>
                {{/if}}

              </li>
            {{/each}}
          </ul>
          {{#if groups}}
            <b>Groups: </b>
            <ul>
              {{#each groups}}
                <li>{{name}}
                  (<em>ID: {{id}}</em>)
                  <br />
                  {{description}}
                  <ul>
                    {{#each members}}
                      <li>
                        <b>{{name}}</b>
                        {{age}}
                        years,
                        {{gender}}
                        (<em>ID: {{id}}</em>)<br /><br
                        /></li>
                    {{/each}}
                  </ul>
                </li>
              {{/each}}
            </ul>
          {{/if}}
          <hr />
        </li>
      {{/each}}
    </ul>

  </section>
</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}