{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}


<main>
<div class="row g-2">
{{#with newsBlock}}
      <div class="display-6 text-center mt-5 mb-3"><b>{{title}}</b></div>
{{#each cards}}
<div class="col-3">
  <div class="card text-bg-dark"> 
    <div class="card-body">
      <div class="card-title">{{title}}
        {{#if isTop}} <div class="badge rounded-pill text-bg-primary">New</div>{{/if}}
        {{#if isNew}}<div class="badge rounded-pill text-bg-danger">Top</div>{{/if}}
      </div>
      <p>{{description}}</p>
    </div>
  </div>
</div>
{{/each}}
{{/with}}
</div>
</div>
<hr class="my-5">


<div class="col-12 mb-5">
  {{#with goodsBlock}}
  <div class="nav nav-tabs">
    {{#each tabs}}
      <div class="nav-item">
        <div class="nav-link
           {{#if isActive}}active{{/if}}
           {{#if isDisabled}}disabled{{/if}}
        ">{{text}}</div>
      </div>
    {{/each}}
  </div>
</div>


  
  <div class="row gx-2 gy-4">
    {{#each cards}}
        {{> shopcard}}
    {{/each}}
  </div>



  {{/with}}
</div>

<hr class="my-5">


  {{#with subscribe}}
  <div class="col-12">
    <div class="card text-bg-dark">
      <div class="card-body P-2">
      <div class="card-title"><h2>{{header}}</h2></div>
      <p class="mb-0 mt-3">{{description}}</p>
      {{#each buttons}}
      <div>
      <button href='{{link}}' class="btn btn-primary btn-sm mt-2">{{text}}</button>
      </div>
      {{/each}}
      </div>
    </div>
  </div>
  {{/with}}

{{> shopaction}}

</main>




{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}