{{! 
Це код container файлу для summary сторінки, 
в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
}}
<main>
  <section class='card'>
    {{#with heading}}
      <div class='card'>
        {{#with main}}
          <div class='card-body'>
            <h1>{{title}}</h1>
            <p>{{text}}</p>
            <button
              class='btn btn-primary'
            >{{button_text.solid}}</button><br />
            <br />
            <button
              class='btn btn-outline-primary'
            >{{button_text.outline}}</button>
          </div>
        {{/with}}
      </div>
      <br />

      <div class='card'>
        {{#with second}}
          <div class='card-body'>
            <h2>{{title}}</h2>
            <p>{{text}}</p>
            <button
              class='btn btn-secondary'
            >{{button_text.solid}}</button><br />
            <br />
            <button
              class='btn btn-outline-secondary'
            >{{button_text.outline}}</button>
          </div>
        {{/with}}
      </div>
      <br />

      <div class='card'>
        {{#with subblock}}
          <div class='card-body'>
            <h3>{{title}}</h3>
            <p>{{text}}</p>
            <button
              class='btn btn-dark'
            >{{button_text.solid}}</button><br />
            <br />
            <button
              class='btn btn-outline-dark'
            >{{button_text.outline}}</button>
          </div>
        {{/with}}
      </div>

    {{/with}}

  </section>
  <br />
  <section class='card'>
    {{#with nested_display}}
      <div class='display-1'>{{title}}</div>
      <div class='card'>
        {{#with children_display}}
          <div class='card-body'>
            <h1>{{title}}</h1>
            <p>{{text}}</p>
            <button
              class='btn btn-outline-warning'
            >{{button.text}}</button>
          </div>
        {{/with}}
      </div>
      <br />
      <div>
        <h6>{{header_text}}</h6>
        <button class='btn btn-info'>{{button.text}}</button>
    {{/with}}
      </div>
  </section>
  <br>
  <section class='card'>
    {{#with paragraph}}
    <p class="text-uppercase">{{title}}</p>
    <p class="text-lowercase">{{text}}</p>
    <div>
      <button class="btn btn-link" src="{{button.url}}">{{button.text}}</button>
    </div>
    <br>

    
    <div class="card">
      <div class="card-body">
      <ul>
        {{#each list_name}}
          <li>
            <button class="btn btn-link" src="{{url}}">{{text}}</button>
          </li>
        {{/each}}
      </ul>
      </div>
    </div>
{{/with}}
  </section>

</main>
{{!-- 
    Цей код містить лише те, що буде виводитись в {{{body}}} в layout/default.hbs
    Адже наш layout/default.hbs має вже структуру HTML
--}}